<input
  #inputAutoComplete
  [formControl]="myControl"
  [matAutocomplete]="auto"
  matInput
  [placeholder]="placeholder"
  type="text"
/>

<div matSuffix style="display:flex">
  <button
    (click)="clearInput($event)"
    *ngIf=" myControl?.value!==null && myControl?.value!==''"
    aria-label="Clear"
    mat-icon-button
    type="button"
    class="btn p-0"
  >
    <mat-icon>clear</mat-icon>
  </button>
</div>

<mat-autocomplete
  #auto="matAutocomplete"
  [displayWith]="displayFn.bind(this)"
  (optionSelected)="selectOption($event)"
>
  <mat-option
    *ngFor="let option of filteredOptions | async "
    [value]="option[optionValueField]"
  >
    {{option[optionTextField]}}
  </mat-option>
</mat-autocomplete>