:host {
  mat-form-field {
    width: 100%;
  }
}

.mat-container {
  padding: 1.5rem;
  box-sizing: border-box;
}

.btn-error {
  position: absolute;
  right: 1rem;
}

mat-card {
  //  min-width: max-content;
}

mat-card-header {
  margin-bottom: 1rem;
}

.suggestions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;

  p {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0.5rem;
  }
  mat-card-header {
    margin: 0.5rem;
  }
}
