<div class="container">
  <div class="login-container">
    <mat-card>
      <form [formGroup]="form" (ngSubmit)="getDataFromLogin()">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-header><h2>Bienvenido a</h2></mat-card-header>
            <div class="image-container">
              <img
                src="assets/Logo.png"
                alt="logo"
                mat-card-img
              />
            </div>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <mat-label for="user">Usuario</mat-label>
            <input name="user" formControlName="user" matInput type="user" />
            <mat-error *ngIf="form.controls['user'].hasError('required')"
              >Usuario Requerido</mat-error
            >
            <mat-error *ngIf="form.controls['user'].hasError('maxlength')"
              >Longitud Excedida</mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label for="password">Contraseña</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
              matNativeControl="text"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
              type="button"
            >
              <span *ngIf="hide"
                ><mat-icon>{{ 'visibility' }}</mat-icon></span
              >
              <span *ngIf="!hide"
                ><mat-icon *ngIf="!hide">{{ 'visibility_off' }}</mat-icon></span
              >
            </button>
            <mat-error *ngIf="form.controls['password'].hasError('required')"
              >Contraseña requerida</mat-error
            >
            <mat-error *ngIf="form.controls['password'].hasError('minlength')"
              >8 caracteres minimos</mat-error
            >
            <mat-error *ngIf="form.controls['password'].hasError('maxlength')"
              >16 caracteres maximos</mat-error
            >
          </mat-form-field>
          <div style="width: 100%">
            <span class="recovery-link" routerLink="/recovery-password"
              >Restablecer contraseña</span
            >
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            [disabled]="submitDisable || loading"
            type="submit"
          >
            Iniciar Sesión
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
