<!-- <mat-card-header id="modal-header">
  <mat-card-title><p id="modal-title">Horarios planificados</p></mat-card-title>
  <button
    id="modal-close-button"
    type="button"
    mat-fab
    color="basic"
    aria-label="Close"
    (click)="clickClosed()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-card-header>
<div class="schedule-body">
  <div *ngFor="let schedule of schedules" class="border mb-4">
    <div class="schedule-row">
      <div class="col-12 floating-label">
        <label>Asignatura</label>
        <span class="text-truncate">
          (
          {{
          schedule?.section?.subject?.code
          }}
          )
          {{
          schedule?.section?.subject?.name
          }}
        </span>
      </div>
    </div>
  
    <div class="schedule-row">
      <div class="col-md-8 col-12  floating-label">
        <label>Profesor</label>
        <span class="text-truncate">
          <ng-container *ngIf="schedule?.section?.teacher?.lastName; else noLastName">
            {{
            schedule?.section?.teacher?.lastName + ', ' + schedule?.section?.teacher?.firstName
            }}
          </ng-container>
          <ng-template #noLastName>
            {{
            schedule?.section?.teacher?.firstName
            }}
          </ng-template>
        </span>
      </div>
      <div class="col-md-2 col-12  floating-label">
        <label>Seccion</label>
        <span class="text-truncate">
          {{
          schedule?.section?.name
          }}
        </span>
      </div>
    </div>
  
    <div class="schedule-row">
      <div class="col-md-3 col-12 floating-label">
        <label>Aula</label>
        <span class="text-truncate">
          {{
          schedule?.classroom?.name
          }}
        </span>
      </div>
      <div class="col-md-3 col-12 floating-label">
        <label>Dia</label>
        <span class="text-truncate">
          {{
          schedule?.day?.name
          }}
        </span>
      </div>
      <div class="col-md-3 col-12 floating-label">
        <label>Desde</label>
        <span class="text-truncate">
          {{
          schedule?.start
          }}
        </span>
      </div>
      <div class="col-md-3 col-12 floating-label">
        <label>Hasta</label>
        <span class="text-truncate">
          {{
          schedule?.end
          }}
        </span>
      </div>
    </div>
  </div>
</div>
 -->
