<div class="mat-container">
  <mat-card>
    <mat-card-header
      ><mat-card-title>{{ title }}</mat-card-title></mat-card-header
    >
    <mat-card-content>
      <form [formGroup]="form!" class="p-2">
        <div class="row">
          <div class="col-md-2">
            <mat-form-field>
              <mat-label>Sección</mat-label>
              <input
                type="number"
                matInput
                formControlName="name"
                placeholder="1"
              />
              <mat-error *ngIf="form.controls['name'].hasError('required')"
                >Campo Requerido</mat-error
              >
              <mat-error *ngIf="form.controls['name'].hasError('min')"
                >Valor Invalido</mat-error
              >
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field>
              <mat-label>Capacidad</mat-label>
              <input
                type="number"
                matInput
                formControlName="capacity"
                placeholder="1"
              />
              <mat-error *ngIf="form.controls['capacity'].hasError('required')"
                >Campo Requerido</mat-error
              >
              <mat-error *ngIf="form.controls['capacity'].hasError('min')"
                >Valor Invalido</mat-error
              >
            </mat-form-field>
          </div>
          <div class="col-md-5">
            <mat-form-field>
              <mat-label>Profesor</mat-label>
              <input
                type="text"
                placeholder="Seleccione un profesor"
                aria-label="profesor"
                matInput
                formControlName="teacherId"
                [matAutocomplete]="autoTeacher"
              />
              <mat-autocomplete
                #autoTeacher="matAutocomplete"
                [displayWith]="displayFn"
              >
                <mat-option
                  *ngFor="let teacher of filteredTeachers | async"
                  [value]="teacher"
                >
                  {{ teacher?.last_name ? teacher?.last_name + "," : "" }}
                  {{ teacher.first_name }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="form.controls['teacherId'].hasError('required')"
                >Campo Requerido</mat-error
              >
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="fill">
              <mat-label>Estado</mat-label>
              <mat-select formControlName="status">
                <mat-option *ngFor="let statu of status" [value]="statu.id">{{
                  statu.name
                }}</mat-option>
              </mat-select>
              <mat-error *ngIf="form.controls['status'].hasError('required')"
                >Campo Requerido</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col d-flex justify-content-end">
            <button
              (click)="save()"
              mat-raised-button
              color="primary"
              [disabled]="submitDisabled || loading"
            >
              Guardar
            </button>
          </div>
          <div class="col">
            <button (click)="clickCancel()" mat-raised-button>Cancelar</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
