<div class="mat-container">
    <mat-card>
      <mat-card-header>
      </mat-card-header>
      <mat-card-content>
        <sigeit-table
          emptyMessage="No hay periodos para mostrar"
          (clickOption)="clickAction($event)"
        ></sigeit-table>
      </mat-card-content>
    </mat-card>
    <button
      mat-fab
      matTooltip="Agregar periodo"
      color="primary"
      aria-label="Agregar periodo"
      class="btn-fixed"
      (click)="showModal()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>