:host {
  mat-form-field {
    width: 100%;
  }
  .container {
    padding: 1.5rem;
    box-sizing: border-box;
  }
  
  mat-card {
    // min-width: max-content;
  }
  
  mat-card-header {
    margin-bottom: 1rem;
  }
  .section-body {
    overflow: auto;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
  }
  
@media screen and (max-width: 768px) {
    .container {
      padding: 0.5rem;
    }
    mat-card-header {
      margin: 0.5rem;
    }
  }
  #modal-title {
    font-size: 2rem;
    margin-top: 1rem;
  }
  
  #modal-header {
    justify-content: space-between;
  }
  
  #modal-close-button {
    top: 0.35rem;
    width: 2rem;
    height: 2rem;
  }
}

