<mat-card class="section-card">
  <mat-card-header class="section-header">
    <div class="section-info">
      <div class="section-title">{{ section.name }} - {{ section.nameTeacher }}</div>
    </div>
    <mat-icon class="section-icon">person</mat-icon>
  </mat-card-header>

  <mat-card-content class="section-content">
    <div class="schedules-list">
      <div *ngFor="let schedule of section?.schedules" class="schedule-item">
        <div class="schedule-day">
          <mat-icon class="day-icon">event</mat-icon>
          <span>{{ schedule.day?.name }}</span>
        </div>
        <div class="schedule-classroom">
          <mat-icon class="classroom-icon">room</mat-icon>
          <span>{{ schedule.classroom?.name }}</span>
        </div>
        <div class="schedule-time">
          <mat-icon class="time-icon">access_time</mat-icon>
          <span>{{ schedule.start }} - {{ schedule.end }}</span>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
