<div class="mat-container">
    <mat-card>
      <mat-card-header>
      </mat-card-header>
      <mat-card-content>
        <sigeit-table
          emptyMessage="No hay asignaturas para mostrar"
          (clickOption)="clickAction($event)"
        >
        <mat-form-field filters>
          <mat-label>Departamento</mat-label>
          <mat-select [formControl]="departmentIdCtrl">
            <mat-option *ngFor="let department of departments" [value]="department.id">{{department.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        </sigeit-table>
      </mat-card-content>
    </mat-card>
    <button
      mat-fab
      matTooltip="Agregar asignatura"
      color="primary"
      aria-label="Agregar asignatura"
      class="btn-fixed"
      (click)="showModal()"
      [disabled]="loading"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>