:host {
  mat-form-field {
    width: 100%;
  }
  .btn-secitons {
    margin-bottom: 4rem;
  }
  .btn-schedules {
    margin-bottom: 8rem;
    background: #FFFFFF;
  }
  .btn-charge {
    margin-bottom: 12rem;
    background: #FFFFFF;
  }
}

.mat-container {
  padding: 1.5rem;
  box-sizing: border-box;
}

mat-card-header {
  margin-bottom: 1rem;
}
  
@media screen and (max-width: 768px) {
  .container {
    padding: 0.5rem;
  }
  mat-card-header {
    margin: 0.5rem;
  }
}