<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="title">Información de usuario</mat-card-title>
      <button
        class="close-button"
        type="button"
        mat-fab
        color="basic"
        aria-label="Close"
        (click)="clickClosed()"
      >
        <mat-icon>close</mat-icon>
      </button></mat-card-header
    >
    <mat-card-content>
      <div class="view-container" *ngIf="userView">
        <h2 class="view-title">Usuario</h2>
        <table>
          <tbody>
            <tr>
              <td><strong>Nombre:</strong></td>
              <td>{{ userView.firstName }}</td>
            </tr>
            <tr>
              <td><strong>Apellido:</strong></td>
              <td>{{ userView.lastName }}</td>
            </tr>
            <tr>
              <td><strong>Correo:</strong></td>
              <td>{{ userView.email }}</td>
            </tr>
            <tr>
              <td><strong>Rol:</strong></td>
              <td>{{ userView.role }}</td>
            </tr>
            <tr>
              <td><strong>Estatus:</strong></td>
              <td>
                {{ userView.status ? 'Activo' : 'Inactivo' }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
