.btn-fixed {
  position: fixed !important;
  bottom: 2rem;
  right: 2rem;
}

.app-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
}
