<mat-form-field>
  <mat-label>Día</mat-label>
  <input
    type="text"
    placeholder="Seleccione un día"
    aria-label="Día"
    matInput
    [formControl]="dayCtrl"
    [matAutocomplete]="autoDay"
  />
  <mat-autocomplete #autoDay="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let day of filteredDays | async" [value]="day">
      {{ day.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<mat-checkbox [formControl]="allClassroomsCtrl">
  Mostrar todas las aulas
</mat-checkbox>
<div class="mat-container" *ngIf="dataSourceByDay.length">
  <mat-card>
    <mat-card-content class="mat-card-content">
      <mat-table [dataSource]="dataSourceByDay">
        <ng-container matColumnDef="hora"  [sticky]="true">
          <mat-header-cell *matHeaderCellDef>Hora/Aula</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.hora }}</mat-cell>
        </ng-container>

        <ng-container
          *ngFor="let classroom of classrooms"
          [matColumnDef]="classroom.name" 
          [sticky]="true"
        >
          <mat-header-cell *matHeaderCellDef>{{
            classroom.name
          }}</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span [ngClass]="{'c-pointer': row[classroom.name]?.text}" (click)="showScheduleDetails(row[classroom.name]?.schedules || []) ">
              {{ row[classroom.name]?.text || "" }}
            </span>
          </mat-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="displayedColumnsByDay; sticky: true"
        ></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsByDay"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
</div>
<div class="mat-container empty-table" *ngIf="!dataSourceByDay.length">
  Seleccione un dia para visualizar el itinerario
</div>
