.container {
  width: 100%;
  height: 100%;
  background-color: #e8eaed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  font-family: system-ui;
}

mat-card-title {
  font-size: 2rem;
  font-weight: 100;
}

mat-card {
  padding: 3%;
}
.form-group {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
mat-card-actions {
  width: 100%;
  justify-content: flex-end;
}

button[mat-raised-button] {
  float: right;
}
