<div class="container">
  <div class="container">
    <mat-card>
      <form [formGroup]="form" (ngSubmit)="getDataFromResetPassword()">
        <mat-card-header
          ><mat-card-title-group>
            <mat-card-title>
              Cambiar contraseña</mat-card-title
            ></mat-card-title-group
          ></mat-card-header
        >
        <mat-card-content>
          <p class="description">
            Introduzca su nueva contraseña para acceder al sistema y repitala
            para su confirmacion
          </p>
          <div class="form-group">
            <mat-form-field>
              <mat-label for="newPassword">Nueva contraseña</mat-label>
              <input
                matInput
                [type]="hidePassword ? 'password' : 'text'"
                formControlName="newPassword"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="!hidePassword"
                type="button"
              >
                <mat-icon>{{
                  hidePassword ? 'visibility' : 'visibility_off'
                }}</mat-icon>
              </button>
              <mat-error *ngIf="form.controls['newPassword'].hasError('required')"
                >Contraseña requerida</mat-error
              >
              <mat-error *ngIf="form.controls['newPassword'].hasError('minlength')"
                >8 caracteres minimos</mat-error
              >
              <mat-error *ngIf="form.controls['newPassword'].hasError('maxlength')"
                >16 caracteres maximos</mat-error
              >
              <mat-error
                *ngIf="form.controls['newPassword'].hasError('passwordNotMatch')"
                >Las contraseñas no coinciden</mat-error
              >
            </mat-form-field>
            <mat-form-field>
              <mat-label for="confirmPassword">Repita su contraseña</mat-label>
              <input
                matInput
                [type]="hideConfirm ? 'password' : 'text'"
                formControlName="confirmPassword"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hideConfirm = !hideConfirm"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="!hideConfirm"
                type="button"
              >
                <mat-icon>{{
                  hideConfirm ? 'visibility' : 'visibility_off'
                }}</mat-icon>
              </button>
              <mat-error
                *ngIf="
                  form.controls['confirmPassword'].hasError('passwordNotMatch')
                "
                >Las contraseñas no coinciden</mat-error
              >
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="submitDisable || loading"
          >
            Actualizar contraseña
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
