.mat-column-hora {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

mat-table {
  mat-cell {
    min-width: 5rem;
  }
}


#modal-close-button {
  width: 2rem;
  height: 2rem;
}

.mat-header {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-right: 2rem;
}

.mat-container {
  margin: 1.5rem;
}
table {
  width: 100%;
  table-layout: fixed;
  overflow-y: scroll;
}

mat-column {
  min-width: 5rem;
}
