<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="title">Crear o Modificar Usuario</mat-card-title>
      <button
        class="close-button"
        type="button"
        mat-fab
        color="basic"
        aria-label="Close"
        (click)="clickClosed()"
      >
        <mat-icon>close</mat-icon>
      </button></mat-card-header
    >
    <form [formGroup]="form" class="form-control">
      <mat-card-content>
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input
            type="text"
            matInput
            name="firstName"
            id="firstName"
            formControlName="firstName"
            matInput
          />
          <mat-error *ngIf="form.controls['firstName'].hasError('required')"
            >Campo Requerido</mat-error
          >
          <mat-error *ngIf="form.controls['firstName'].hasError('maxlength')"
            >Longitud Excedida</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Apellido</mat-label>
          <input
            type="text"
            matInput
            name="lastName"
            id="lastName"
            formControlName="lastName"
            matInput
          />
          <mat-error *ngIf="form.controls['lastName'].hasError('required')"
            >Campo Requerido</mat-error
          >
          <mat-error *ngIf="form.controls['lastName'].hasError('maxlength')"
            >Longitud Excedida</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Correo</mat-label>
          <input
            type="text"
            matInput
            name="email"
            id="email"
            matInput
            formControlName="email"
          />
          <mat-error *ngIf="form.controls['email'].hasError('required')"
            >Campo Requerido</mat-error
          >
          <mat-error *ngIf="form.controls['email'].hasError('email')"
            >Correo invalido</mat-error
          ></mat-form-field
        >
        <mat-error *ngIf="form.controls['email'].hasError('maxlength')"
          >Longitud Excedida</mat-error
        >
        <mat-form-field>
          <mat-label>Rol</mat-label>
          <mat-select
            name="role"
            formControlName="role"
            id="role"
            matSelect
            placeholder="Rol"
          >
            <mat-option
              *ngFor="let option of roleList"
              [value]="option.value"
              >{{ option.name }}</mat-option
            >
          </mat-select>
          <mat-error *ngIf="form.controls['role'].hasError('required')"
            >Campo Requerido</mat-error
          >
        </mat-form-field>
        <mat-form-field *ngIf="data.id">
          <mat-label>Estado</mat-label>
          <mat-select
            name="status"
            formControlName="status"
            id=""
            matSelect
            placeholder="Estatus"
            [(value)]="selected"
            [compareWith]="compareObjects"
          >
            <mat-option
              *ngFor="let option of selectable"
              [value]="option.value"
              >{{ option.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button
          type="submit"
          mat-button
          color="primary"
          [disabled]="submitDisabled"
          (click)="clickSave()"
          class="action-button"
        >
          Guardar
        </button>
        <button
          mat-button
          type="button"
          (click)="clickClosed()"
          class="action-button"
        >
          Cancelar
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
