<div class="modal-header">
  <span mat-dialog-title> {{ id ? 'Modificar':  'Crear' }} usuario </span>
  <button
    id="modal-close-button"
    mat-dialog-close
    mat-mini-fab
    type="button"
    aria-label="Cerrar"
    color="basic"
    (click)="clickClosed()"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

<form mat-dialog-content [formGroup]="form!">
  <mat-form-field>
    <mat-label>Cédula</mat-label>
    <input
      matInput
      type="text"
      name="idDocument"
      id="idDocument"
      formControlName="idDocument"
      required
    />
    <mat-error *ngIf="form.controls['idDocument'].hasError('required')"
      >Campo requerido</mat-error
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nombres y Apellido(s)</mat-label>
    <input
      matInput
      type="text"
      name="name"
      id="name"
      formControlName="name"
      required
    />
    <mat-error
      *ngIf="form.controls['name'].hasError('required')"
      >Campo requerido</mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Correo Electrónico</mat-label>
    <input
      matInput
      type="email"
      name="email"
      id="email"
      formControlName="email"
    />
    <mat-error *ngIf="form.controls['email'].hasError('required')"
      >Campo requerido</mat-error
    >
  </mat-form-field>    
  
  <mat-form-field>
    <mat-label>Rol</mat-label>
    <mat-select
      name="role"
      formControlName="role"
      matSelect
      placeholder="Rol"
    >
      <mat-option
        *ngFor="let role of roles"
        [value]="role.value"
      >
        {{ role.name }}
      </mat-option
      >
    </mat-select>
  </mat-form-field>
  <container-element [ngSwitch]="role">
    <mat-form-field *ngSwitchCase="UserRole.Director">
      <mat-label>Escuela</mat-label>
      <mat-select formControlName="schoolId">
        <mat-option *ngFor="let school of schools" [value]="school.id">{{school.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls['schoolId'].hasError('required')"
      >Campo requerido</mat-error
      >
    </mat-form-field>
    <mat-form-field *ngSwitchCase="UserRole.HeadDepartment">
      <mat-label>Departamento</mat-label>
      <mat-select formControlName="departmentId">
        <mat-option *ngFor="let department of departments" [value]="department.id">{{department.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls['departmentId'].hasError('required')"
      >Campo requerido</mat-error
      >
    </mat-form-field>
    <mat-form-field *ngSwitchCase="UserRole.Planner">
      <mat-label>Departamento</mat-label>
      <mat-select formControlName="departmentId">
        <mat-option *ngFor="let department of departments" [value]="department.id">{{department.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls['departmentId'].hasError('required')"
      >Campo requerido</mat-error
      >
    </mat-form-field>
    <mat-form-field *ngSwitchCase="UserRole.Teacher">
      <mat-label>Departamento</mat-label>
      <mat-select formControlName="departmentId">
        <mat-option *ngFor="let department of departments" [value]="department.id">{{department.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls['departmentId'].hasError('required')"
      >Campo requerido</mat-error
      >
    </mat-form-field>
    <mat-form-field *ngSwitchCase="UserRole.Student">
      <mat-label>Especialidad</mat-label>
      <mat-select formControlName="careerId">
        <mat-option *ngFor="let career of careers" [value]="career.id">{{career.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls['careerId'].hasError('required')"
      >Campo requerido</mat-error
      >
    </mat-form-field>
  </container-element>
  
  <mat-form-field>
    <mat-label>Estado</mat-label>
    <mat-select
      name="status"
      formControlName="status"
      matSelect
      placeholder="Estado"
    >
      <mat-option
        *ngFor="let option of status"
        [value]="option.value"
      >
        {{ option.name }}
      </mat-option
      >
    </mat-select>
  </mat-form-field>
</form>

<div class="modal-footer" mat-dialog-actions>
  <button
    mat-button
    type="button"
    (click)="clickSave()"
    color="primary"
    [disabled]="submitDisabled || loading"
  >
    Guardar
  </button>
  <button
    mat-button
    mat-dialog-close
    cdkFocusInitial
    type="button"
    (click)="clickClosed()"
  >
    Cancelar
  </button>
</div>
<app-state *ngIf="loading" class="app-loading"> </app-state>
