#modal-title {
  font-size: 2rem;
  margin-top: 1rem;
}

#modal-header {
  justify-content: space-between;
}

#modal-close-button {
  top: 0.35rem;
  width: 2rem;
  height: 2rem;
}

#modal-actions {
  justify-content: space-around;
}

#modal-card {
  min-width: 22rem;
  overflow: hidden;
}

#modal-image {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

#modal-form-field-container {
  width: 100%;
  margin: auto;
}

.img-container {
  sm-soc-avatar-control {
    --img-size: 10rem;
  }
}

.inputs-container {
  display: flex;
  gap: 1rem;
}

.img-container img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
