.container {
  width: 100%;
  height: 100%;
  background-color: #e8eaed;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  margin: 1rem;
  padding: 2rem;
  width: 80%;
}

mat-card-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 0;
}

mat-card-title.mat-mdc-card-title {
  font-size: 2rem;
  font-weight: 100;
}

mat-card-content {
  padding: 0;
}
mat-form-field {
  margin: 1rem 0;
  width: 100%;
}
.description {
  font-family: system-ui;
}

mat-card-actions {
  width: 100%;
  justify-content: flex-end;
}

button[mat-raised-button] {
  float: right;
}
