.mat-container {
  padding: 2.5rem;
  box-sizing: border-box;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 42vw;
  margin: -5% 0;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin: 0;
}
.logo-desc {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  margin: -1.5rem 0;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }

  img {
    min-width: 15rem;
  }
}
