:host {
  max-height: 80vh;
}
mat-card {
  padding: 1rem;
}
mat-card-header {
  display: flex;
  justify-content: space-between;
}
#modal-close-button {
  width: 2rem;
  height: 2rem;
}
mat-card-actions {
  justify-content: space-evenly;
}

mat-card-content {
  margin: 2rem;
  text-align: center;
  overflow: auto;
}
.confirm-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.initialAlign {
  text-align: initial;
}
