<mat-card>
  <mat-card-header
    ><mat-card-title
      ><span class="confirm-title">{{ message.title }}</span></mat-card-title
    >
    <button
      id="modal-close-button"
      type="button"
      mat-fab
      color="basic"
      aria-label="Close"
      (click)="closeModal(false)"
    >
      <mat-icon>close</mat-icon>
    </button></mat-card-header
  >
  <mat-card-content><span [innerHTML]="message.body"></span></mat-card-content>
  <mat-card-actions
    *ngIf="!hiddenActions"
  >
    <button
      type="button"
      mat-raised-button
      color="warn"
      (click)="closeModal(true)"
    >
      Aceptar
    </button>

    <button
      type="button"
      mat-raised-button
      color="basic"
      (click)="closeModal(false)"
    >
      Cancelar
    </button></mat-card-actions
  >
</mat-card>
