<div class="mat-container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form!" class="p-2">
        <div class="row">
          <div *ngIf="!careerIdUser" class="col-md-4 col-12">
            <mat-form-field class="">
              <mat-label>Carrera</mat-label>
              <app-select-ex
                label="Departamento"
                [items]="careers"
                formControlName="careerId"
                placeholder="Seleccione un departamento"
              >
                
              <mat-error *ngIf="form.controls['careerId'].hasError('required')"
              >Campo requerido</mat-error
              >
              </app-select-ex>
            </mat-form-field>
          </div>

          <div class="col-md-2 col-12"
            [ngClass]="{'col-md-4': careerIdUser}"
          >
            <mat-form-field class="">
              <mat-label>Semestre</mat-label>
              <app-select-ex
                label="Semestre"
                [items]="semesters"
                formControlName="semesterId"
                placeholder="Seleccione un semestre"
              >
                
              <mat-error *ngIf="form.controls['semesterId'].hasError('required')"
              >Campo requerido</mat-error
              >
              </app-select-ex>
            </mat-form-field>
          </div>

          <div class="col-md-6 col-12"
            [ngClass]="{'col-md-8': careerIdUser}"
          >
            <mat-form-field class="">
              <mat-label>Asignatura</mat-label>
              <app-select-ex
                label="Asignatura"
                [items]="subjects"
                formControlName="subjectId"
                placeholder="Seleccione una asignatura"
              >
                
              <mat-error *ngIf="form.controls['subjectId'].hasError('required')"
              >Campo requerido</mat-error
              >
              </app-select-ex>
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<div class="d-flex flex-wrap content-sections">
  <app-card-section-schedules 
    *ngFor="let section of sections"
    [section]="section"
    (click)="addSection(section)"
  >
  </app-card-section-schedules>
</div>
<ng-container *ngIf="sectionsSelected?.length">
  <div class="d-flex justify-content-end content-info align-items-center">
    <button 
      *ngIf="isInscription; else Schedules"
      mat-raised-button 
      color="primary" 
      (click)="confirmClose()"
      [disabled]="loading || disabledSubmit"
    >
      Cerrar inscripción
    </button>
    <ng-template #Schedules>
      <mat-form-field class="field-name">
        <mat-label>Nombre</mat-label>
        <input type="text" matInput [formControl]="nameCtrl" />
        <mat-error *ngIf="nameCtrl.hasError('required')"
          >Campo requerido</mat-error
        >
      </mat-form-field>
      <button 
        mat-raised-button 
        color="primary" 
        (click)="saveShedule()"
        [disabled]="loading"
      >
        Guardar horario
      </button>
    </ng-template>
    
    
    <mat-card>
      <mat-card-header class="p-3">
        <mat-card-title-group>
          <mat-card-subtitle>
            Asignaturas: {{subjectCounter}}
          </mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
    </mat-card>
    <mat-card [ngClass]="{'danger': credits > 18}">
      <mat-card-header class="p-3">
        <mat-card-title-group>
          <mat-card-subtitle>
            Creditos: {{credits}}
          </mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="d-flex content-body">
    <div  class="d-flex flex-column content-subjects align-items-center">
      <span class="font-weight-bold text-center p-2">
        Lista de Asignaturas 
      </span>
      <app-card-subject-schedules
        *ngFor="let section of sectionsSelected"
        [section]="section"
        [ngClass]="{'danger': !!section?.collapse?.length}"
        [inscription]="isInscription"
        (deleteSection)="addSection(section)"
        (validate)="createInscription(section)"
        (canceled)="deleteInscription(section)"
      >

      </app-card-subject-schedules>
    </div>
    <div class="w-100 mat-container">
      <div class="schedules" *ngIf="dataSource.length">
        <mat-card class="table-schedule">
          <mat-card-content class="mat-card-content">
            <mat-table [dataSource]="dataSource" class="mat-table">
              <ng-container matColumnDef="hora" >
                <mat-header-cell *matHeaderCellDef >Hora/Dia</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.hora }}</mat-cell>
              </ng-container>
      
              <ng-container *ngFor="let day of days" [matColumnDef]="day.name" >
                <mat-header-cell *matHeaderCellDef>{{ day.name }}</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span [ngClass]="{'c-pointer': row[day.name]?.text}" (click)="showScheduleDetails(row[day.name]?.schedules || []) ">
                    {{ row[day.name]?.text || "" }}
                  </span>
                </mat-cell>
              </ng-container>
      
              <mat-header-row
                *matHeaderRowDef="displayedColumns"
              ></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns">
              </mat-row>
            </mat-table>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="mat-container empty-table" *ngIf="!dataSource.length">
      </div>
    </div>
  </div>
</ng-container>

<div *ngIf="savedSchedules.length">
  <h5>
    Horarios guardados
  </h5>
  <div class="d-flex content-info align-items-center">
    <mat-card *ngFor="let schedule of savedSchedules">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-subtitle>
            {{ schedule.name }}
          </mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-actions align="end">
        <button mat-button (click)="loadSavedSchedule(schedule)">
          Cargar
        </button>
        <button mat-button (click)="removeSavedSchedule(schedule)">
          Eliminar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>



